// Replace the values below with the correct settings for your environment and rename file to config.js
var configuration =
{
  "s3-origin": "http://TESTEXAMPLE.s3-website-us-east-1.amazonaws.com/", // The domain or S3 bucket hosting your site with trailing /
  "apig-generateAuthUrl": "https://TESTEXAMPLE.execute-api.us-east-1.amazonaws.com/V1/generateAuthUrl", // Path to your generateAuthUrl API Gateway endpoint
  "apig-generateToken": "https://TESTEXAMPLE.execute-api.us-east-1.amazonaws.com/V1/generatetoken", // Path to your generatetoken API Gateway endpoint
  "IdentityPoolId": "region:TESTEXAMPLE" // Your Cognito IdentityPoolId
}
